
	#principal{width:960px; margin:10px auto;}
	#topo{width:940px; height:100px;background-color:#FFDAB9;border-bottom:1px solid;padding:15px;margin:15px;}
	#top{width:940px; height:100px;padding:15px;margin:15px;text-align:center;}
	#conteudo1{width:940px;padding:15px;margin:15px;height:400px;background-image:url(img200.jpg)}
	#conteudo{width:940px;padding:15px;margin:15px;}
	p.dinheiro{text-align:center;padding:15px;margin:15px;}
	p.raiva{text-align:center;}
	#rodape{width:940px;border-top:1px solid ;clear:both ;text-align:justify;background-color:#FFDAB9;padding:15px;margin:15px;}
	body{margin-left:15%; margin-right:15%;padding:15px;color:#191970;font-family:arial;}
	a:link{text-decoration:none;color:#0000FF;}
	a:visited {text-decoration: none; color:#0000FF;}
	a:hover {text-decoration: underline; background-color:#FFB6C1; color:#FFFFFF;border:solid #0000FF;}
	a:active {text-decoration: none; color: #FFFFFF; background-color:#0000FF;border:#FFFFFF;}
	p.ee{text-align:justify;}
	p.ferramentas{margin:15px;padding:15px;}
	p.estou{margin:15px;padding:15px;}
	p.ec{text-align:center;}
	p.bee{text-align:center;}
	#top8{text-align:left;margin:15px;padding:15px;}
	p.ident{text-align:justify;margin:15px;padding:15px;}
	p.que{text-align:left;margin:15px;padding:15px;}
	p.vi{text-align:center;}
	p.aa{text-align:justify;}
	p.eii{text-align:center;}
	#top7{text-align:left;margin:15px;padding:15px;}
	#top12{width:940px; height:100px;padding:15px;margin:15px;text-align:center;}
	p.ee{text-align:justify;}
	#top13{margin-left:15px;margin-right:15px;text-align:center;}
	#top1{width:940px; height:1px;padding:15px;margin:15px;text-align:center;}
	#top2{text-align:left;margin:15px;padding:15px;height:1px;}
	p.nave{text-align:center;}
	p.niu{text-align:center;}
	p.ee{text-align:justify;}
	p.ca{text-align;center;}
	p.ee{text-align:justify;}
	#top6{text-align:left;margin:15px;padding:15px;}
	p.ee{text-align:justify;}
	p.unidade{margin:15px;padding:15px;}
	p.iiu{text-align:center;}
	p.uuo{text-align:center;}
	p.valor{margin:15px;padding:15px;}
	#top4{text-align:left;padding:15px;margin:15px;}
	p.ee{text-align:justify;}
	p.unidade{margin:15px;padding:15px;}
	p.iiu{text-align:center;}
	p.uuo{text-align:center;}
	p.valor{margin:15px;padding:15px;}
	#top10{text-align:left;margin:15px;padding:15px;} 
	#top3{text-align:left;margin:15px;padding:15px;}
	p.ee{text-align:justify;}
	p.ua{text-align:center;}
	p.equipe{text-align:justify;margin:15px;padding:15px;}
	p.pelo{text-align:justify;margin:15px;padding:15px;}
	p.daa{text-align:center;}
	#mais{width:310px;float:left;text-align:left;padding:15px;margin:15px;}
	#bom{width:310;height:200px;float:center;text-align:center;margin:15px;padding:30px;display:inline;height:1px;}
	p.comentario{text-align:center;}
	#top9{text-align:left;margin:15px;padding:15px;height:1px;}
	#top20{text-align:left;margin:15px;padding:15px;height:1px;}
	#top50{width:940px;padding:15px;margin:15px;}

